.todo-container {
	width: 600px;
	margin: 0 auto;
}

.controls {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}

.todo-list {
	list-style-type: none;
	padding: 20;
}

.todo-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	background-color: rgb(242, 239, 233);
}

.todo-link {
	text-decoration: none;
	color: black;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 500px;
	display: inline-block;
}

.task-detail-container {
	width: 1000px;
	margin: 0 auto;
	padding: 20px;
	background-color: rgb(242, 239, 233);
}

.task-detail-container button {
	margin-right: 10px;
}
